
li.section {
  background-color: var(--bg-highlight);
  color:inherit ;
  border-radius: 0.25rem 1rem 1rem 1rem;
  padding: 10px;
  margin: 10px;
  border : 1px silver solid;
}

.saved-item{
  background-color: var(--bg-highlight);
  color:inherit ;
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  max-width: 80vw;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fa-trash:hover {
  cursor: pointer;
}


h3,p,button {
  margin: 10px;
}

input {
  margin: 10px;
  width: 85%;
  border: 1px solid silver;
}

label {
  padding-left: 10px;
}

header {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: black;
  color: white;
}

fieldset {
  border-radius: 1rem;
}

.fa-trash {
  font-size: larger;
}

time-section > div {
  padding: 10px;
  padding-top: 0px;
}

@media (max-width: 850px) {
  #button-start {
       width: 100%;
  }

  button
  { 
     display: block; margin: 0 auto;}

#button-create{
  margin-top: 10px;
}


  }
